.zoom-container {
  transform: scale(1.5); /* Ajusta el valor para cambiar el nivel de zoom */
  transform-origin: top center;
  width: 50%; /* Ajusta el ancho de acuerdo al nivel de zoom */
  margin: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  color: #333;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #666;
}

img {
  display: block;
  margin: 0 auto;
}

ul > li {
  background-color: #fff;
  list-style-type: none;
  color: gray;
  opacity: 0.5;
  font-family: monospace;
  width: 50%;
  margin: auto;
}
